.tableRow{
  &:hover{
    background-color: #ebfbef;
    cursor: pointer;
  }
}
.badge{
  text-transform: none;
  margin: .5rem;
  font-size: .8rem;
  padding: .8rem;
}

.plugin{
  &-card{
  width:100%;
  margin: 0rem auto;
  padding: 1rem;
  border-radius: .5rem;
    &:hover{
      cursor: pointer;
    }
  }
  &-img{
    display: flex;
    justify-content: center;
  }
}
.mantine-NumberInput-rightSection{
  width: 61px !important;
}